<table class="table table-md table-responsive table-hover">
    
  <!-- Table head --->
  <thead class="table-dark">
      <tr>
        <!-- Column names --->
        <th *ngFor="let colum of columns" scope="col">{{colum}}</th>

        <!-- Empty column for edit --->
        <th *ngIf="options?.edit" scope="col"></th>

        <!-- Empty column for delete --->
        <th *ngIf="options?.delete" scope="col"></th>
      </tr>
  </thead>


  <!-- Table body --->
  <tbody>
    <ng-container *ngFor="let row of rows">
    <tr>
          <!-- Cell with data --->
          <ng-container *ngFor="let colum of row | keyvalue: unsorted">
              <td (click)="rowClicked(row)">{{colum.value}}</td>
          </ng-container>

          <!--  Cell for edit row--->
          <td *ngIf="options?.edit">
            <button class="btn btn-outline-primary"
                    (click)="editClicked(row)">
              <i class="far fa-edit"></i>
            </button>
          </td>

          <!-- Cell for delete row --->
          <td *ngIf="options?.delete">
              <button class="btn btn-outline-danger"
                      (click)="deteteClicked(row)">
                <i class="far fa-trash-alt"></i>
              </button>
          </td>

        </tr>
      </ng-container>
  </tbody>
  </table>
