<table class="table table-sm table-responsive table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th *ngFor="let colum of columns" class="text-center" scope="col">{{colum}}</th>
        <th *ngIf="options?.edit" scope="col"></th>
        <th *ngIf="options?.delete" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of rows">
      <tr>
            <ng-container *ngFor="let colum of row | keyvalue: unsorted">
                <td (click)="rowClicked(row)">{{colum.value}}</td>
            </ng-container>

            <td *ngIf="options?.edit">
              <button class="btn btn-outline-primary"
                      (click)="editClicked(row)">
                <i class="far fa-edit"></i>
              </button>
            </td>

            <td *ngIf="options?.delete">
                <button class="btn btn-outline-danger"
                        (click)="deteteClicked(row)">
                  <i class="far fa-trash-alt"></i>
                </button>
            </td>
          </tr>
        </ng-container>
    </tbody>
  </table>
