
<ng-container *ngIf="locationsList.length > 0">
  <app-table [rows]="tableRows"
              (rowClickedEmitter)="showLocationDetail($event)"
              (deleteClickedEmitter)="deleteLocation($event)"
              (editClickedEmitter)="editLocation($event)">
  </app-table>
  <app-pagination [activePage]="activePage$ | async"
                  [totalPagesNumber]="totalPages"
                  (pageClickedEmitter)=updateActivePage($event)>
  </app-pagination>



  <!-- Edit Location Modal-->

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

  <!-- End edit location modal-->


</ng-container>