  <div class=" mt-5 row">
    <div class="col send card text-center">
      <div class="col card-body">
        <h1 class="mb-4">Locations list</h1>
        <p>Click button to add a new location</p>
        <button (click)="addLocation()"
                  type="button" 
                  class="ml-3 btn btn-primary">Add Location</button>
      </div>
    </div>  
  </div>

  <ng-container *ngIf="locationsError">
    <div class="row mt-5">
      <div class="col-1"></div>
      <div class="col-10 text-center">
        <h1 class="text-danger">Error </h1>
        <div class="card border-danger mb-3">
          <div class="card-header text-danger">{{locationsError.name}}</div>
          <div class="card-body text-danger">
            <h5 class="card-title">Sorry,</h5>
            <p class="card-text">{{locationsError.message}}</p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </ng-container>

  
  <ng-container *ngIf="!locationsError && locationsList.length > 0">
    <div class="mt-5">
      <app-table  [rows]="tableRows"
                  [columns]="tableColumns"
                  (rowClickedEmitter)="showLocationDetail($event)"
                  (deleteClickedEmitter)="deleteLocation($event)"
                  (editClickedEmitter)="editLocation($event)">
      </app-table>
    </div>
    <app-pagination [activePage]="activePage$ | async"
                    [totalPagesNumber]="totalPages"
                    (pageClickedEmitter)=updateActivePage($event)>
    </app-pagination>

  </ng-container>



  <!-- Edit Location Modal-->

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

  <!-- End edit location modal-->