
<form [formGroup]="locationForm" (ngSubmit)="editLocation()" class="needs-validation" novalidate>
    <div class="form-row">
      
      <!-- ID -->  
      <div class="col-md-1 mb-3">
        <label for="locationID">ID</label>
        <input  formControlName="id"
                type="text" 
                class="form-control" 
                id="locationID"
                readOnly>
      </div>


      <div class="col-md-4 mb-3">
        <label for="lat">Latitude</label>
        <input  formControlName="lat"
                type="text" 
                class="form-control" 
                id="lat"
                placeholder="Latitude">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>


      <div class="col-md-4 mb-3">
        <label for="lon">Longitude</label>
        <div class="input-group">
          <input    formControlName="lon"
                    type="text" 
                    class="form-control" 
                    id="lon" 
                    placeholder="Longitude">
          <div class="invalid-feedback">
            This field is required
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="address_line_1">Longitude</label>
        <div class="input-group">
          <input    formControlName="address_line_1"
                    type="text" 
                    class="form-control" 
                    id="address_line_1" 
                    placeholder="Address">
          <div class="invalid-feedback">
            This field is required
          </div>
        </div>
      </div>

    </div>
   
    <button class="btn btn-primary" type="submit">Edit</button>
    <button class="mx-4 btn btn-danger "  type="button" (click)="cancelEdit()">Cancel</button>
  </form>